body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 2rem;
}

form > img {
  margin: auto;
}

label {
  text-align: left;
  width: 100%;
  padding: 1rem 0 0 0;
}

input {
  width: 100%;
}

button {
  margin: 1rem 0 0 0;
}

#success-message {
  color: green;
}

#error-message {
  color: red;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  width: 300px;
  top: 100%;
  padding: 5px;
  position: absolute;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent black transparent;
}