body {
  height: 100vh;
  display: flex;
  justify-content: center; /* Center the form horizontally */
  align-items: center; /* Center the form vertically */
  margin: 0; /* Remove default body margin */
  
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 2rem;
}

form > img {
  margin: auto;
}

label {
  text-align: left;
  width: 100%;
  padding: 1rem 0 0 0;
}

button {
  margin: 1rem 0 0 0;
}

.checkbox-container{
  padding: 1rem 0 0 0;
  text-align: center;
}
#success-message {
  color: green;
}

#error-message {
  color: red;
}
