body {
  height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  
  /* TODO: Adjust CSS so that form is centered on page */
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 2rem;
}

form > img {
  margin: auto;
}

label {
  text-align: left;
  width: 100%;
  padding: 1rem 0 0 0;
}

input {
  width: 100%;
}

input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

button {
  margin: 1rem 0 0 0;
}

#success-message {
  color: green;
}

#error-message {
  color: red;
}

.invalid-email{
	position: absolute;
	max-width: 30em;
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 1.25em;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  font-weight: 500;
  margin-top: 10%;
  
}

.invalid-email::before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em; 
	border: .75rem solid transparent;
	border-top: none;
  border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .5));
  
}

