body {
  height: 100vh;
  display: flex;
  /* TODO: Adjust CSS so that form is centered on page */
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 2rem;
}

form > img {
  margin: auto;
}

label {
  text-align: left;
  width: 100%;
  padding: 1rem 0 0 0;
}

input {
  width: 100%;
}

button {
  margin: 1rem 0 0 0;
}

#success-message {
  color: green;
}

#error-message {
  color: red;
}
