body {
  height: 100vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  background-color: #f0f0f0; /* Optional: Add a background color for better visibility */
}

form {
  display: flex; /* Use flex display for centering vertically */
  flex-direction: column;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #ffffff; /* Optional: Add a background color for the form */
}

form > img {
  margin: auto;
}

label {
  text-align: left;
  width: 100%;
  padding: 1rem 0 0 0;
}

input {
  width: 100%;
}

button {
  margin: 1rem 0 0 0;
}

#success-message {
  color: green;
}

#error-message {
  color: red;
}
